* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 234, 234);
}

.centralizar {
    text-align: center;
}

.flex {
    margin-top: 10%;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    text-align: center;
}

.flex>div {
    position: relative;
    margin: 0 50px;
    width: 250px;
    background-color: white;
    padding: 20px;
    /* padding-top: 50px; */
    height: 300px;
    display: flex;
    box-shadow: 5px 5px 15px 1px black;
    align-items: center;

}

p {
    margin: 20px 0;
}


.flex>div>img {
    position: absolute;
    border-radius: 50%;
    top: -13%;
    left: 50%;
    margin-left: -50px;
}