.centralizar {
    text-align: center;
}

.flex {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    text-align: center;
}

.flex > div {
    margin: 0 50px;
    border: 1px solid black;
    width: 300px;
    background-color: lightgray;
    padding: 20px;
}